body {
  font-family: "Gentium Basic", serif;
  font-size: 12pt;
  background-color: #ddd;
  color: #444;
}
h1,
h2,
h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
strong {
  font-family: "Open Sans Condensed", sans-serif;
}
a {
  color: #444;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
code {
  color: black;
  background-color: #fff;
}
#name {
  padding: 5em 0 1em 0;
}
h1 {
  text-align: center;
  font-size: 48pt;
}

a[href]:after {
  content: none !important;
}
