---
---

@import 'variables';
@import 'lightbox';

// Reset margins and padding to do it manually
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Standard font-size for em measuring
body {
    font-size: 13pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
    background-color: #f5f5f5;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: normal;
}

p {
    font-weight: 300;
}

strong {
    font-weight: bold;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

a {
    transition: color 0.2s ease,
                border-color 0.2s ease-in-out,
                background-color 0.2s ease;
    color: $header-color;
}

a:hover {
    color: $link-color!important;
}

#header:before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/hero.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}

#header {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

    nav {
        display: none;
    }

    header {
        padding: 4em 2em;
        .avatar {
            border-radius: 100%;
            width: 8em;
            margin-bottom: 1em;
        }

        h2 {
            padding-bottom: 0.5em;
        }

        h3 {
            font-weight: normal;
            font-size: 1rem;
            font-style: italic;
        }
    }

    @media (min-width: $break-md) {
        position: fixed;
        width: $sidebar-width;
        height: 100%;
        // text-align: right;

        header {
            padding: 3em 3em 3em 3em;
        }

        nav {
            text-align: right;
            font-size: 15pt;
            display: block;
            ul {
                list-style: none;
                li {
                    a {
                        color: rgba(255, 255, 255, 0.8);
                        width: 100%;
                        display: block;
                        background-clip: padding-box;
                        padding: 0.5em 3em;
                        text-decoration: none;
                    }
                    a:hover, a.active {
                        background-color: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }
    }
}

main {
    max-width: 60em;

    h1 {
        padding: 1em 0;
        font-weight: normal;
    }

    h2 {
        padding: 0.3em 0;
        font-size: 1.3rem;

        a {
            font-weight: normal;
        }
    }

    a {
        font-weight: bold;
        text-decoration: none;
    }

    p {
        padding-bottom: 1em;
    }

    #hero {
        display: none;
    }

    article {
        border-bottom: 1px solid #cfcfcf;
        padding-bottom: 1em;
        margin: 2em 1em 0 1em;
        line-height: 1.7;
    }

    article:first-child {
        margin-top: 0;
    }

    article:last-child {
        border-bottom: none;
    }

    @media (min-width: $break-md) {
        margin-left: $sidebar-width;
        width: calc(100% - #{$sidebar-width});
        padding-bottom: 4em;
        article {
            margin: 1em 4em 0 4em;
        }

        #hero {
            background: url('../assets/hero.jpg') no-repeat center center;
            background-size: cover;
            width: 100%;
            height: 12em;
            display: block;
            position: relative;
        }
    }
}

.projects-container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.project {
    width: 100%;
    padding: 1em 0;

    @media (min-width: $break-md) {
        width: 45%;
    }

    .project__img {
        width: 100%;
        height: 25em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        position: relative;

        @media (min-width: $break-md) {
            height: 12em;
        }
    }

    .project__img:hover:before {
        opacity: 0.6;
    }

    .project__img:before {
        border-radius: 8px;

        transition: opacity 0.2s ease-in-out;
        background: black;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    .project__img:hover:after {
        opacity: 1;
    }

    .project__img:after {
        content: 'View';
        transition: opacity 0.2s ease-in-out;
        border-radius: 8px;
        border: 3px solid rgba(255, 255, 255, 0.5);
        color: white;
        display: block;
        opacity: 0;
        line-height: 2.25em;
        padding: 0 1.5em;
        margin: -1.25em 0 0 -3em;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
    }

    .project__title {
        line-height: 2.5;
    }
}


footer {
    position: relative;
    text-align: center;

    padding: 3em 0;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/hero.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    display: block;

    ul.icons {
        list-style: none;

        li {
            display: inline-block;
            a {
                color: white;
                opacity: 0.8;
                text-decoration: none;
            }
            padding: 0 0.5em 0 0;
        }

        li:last-child {
            padding-right: 0;
        }

        font-size: 1.75rem;
    }

    @media (min-width: $break-md) {
        width: $sidebar-width;

        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0 3em 2em 3em;
        // text-align: right;

        background: none;
    }
}
