body {
  font-family: "Gentium Basic", serif;
  font-size: 12pt;
  background-color: #eee;
}
h1,
h2,
h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1, h2, h3, h4, strong, .fa,a {
  /*color: #2c3e50;*/
  color: black;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 12pt;
  line-height: 1.42857143;
}
strong {
  font-family: "Open Sans Condensed", sans-serif;
}

em {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
}

h2 {
  font-size: 18pt;
  padding-bottom: 0.2em;
}
h3 {
  font-size: 14pt;
}
a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a, a:hover, a:focus {
  text-decoration: none;
}
code {
  color: black;
  background-color: #fff;
}
#contact,
#programming,
#web,
#other,
#education,
#experience,
#activities,
#projects {
  padding-bottom: 1em;
}

.line, #content, #header {
  border-bottom: 1px solid #aaaaaa;
}
#header h1 {
  text-align: right;
  font-size: 36pt;
}
a[href]:after {
  content: none !important;
}
#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#page {
  background-color: #fff
}

@media print, (min-width: 992px) {
  #projects-line {
    border-bottom: none;
  }
  #content-left {
    border-right: 1px solid #aaaaaa;
  }
}

@media print {
  .container {
    width: 960px;
    min-width: 960px;
  }
  #page {
    padding: 0em 5em;
  }
}

@media screen {
  #page {
    padding: 0em 1em 5em 1em;
    max-width: 960px;
  }
}

@media screen and (min-width: 768px) {
  #page {
    padding: 5em;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  }
  #header h1 {
    text-align: right;
    font-size: 48pt;
  }
}
@media screen and (max-width: 992px){
  #other-line {
    border-bottom: none;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  #contact ul {
    column-count: 2!important;
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
  }
}
