body {
  font-family: "Gentium Basic", serif;
  font-size: 12pt;
  background-color: #eee;
}
h1,
h2,
h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
strong {
  font-family: "Open Sans Condensed", sans-serif;
}
h2 {
  font-size: 18pt;
  padding-bottom: 0.2em;
}
h3 {
  font-size: 14pt;
}
a {
  color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
code {
  color: black;
  background-color: #fff;
}
#contact,
#programming,
#web,
#other,
#education,
#experience,
#activities {
  padding-bottom: 1em;
  border-bottom: 1px solid #aaaaaa;
}
#projects {
  padding-bottom: 1em;
}
@media (max-width: 992px) {
  #contact ul {
    column-count: 2!important;
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
  }
  #projects {
    border-bottom: 1px solid #aaaaaa;
  }
  #other {
    border-bottom: none;
  }
}
#content {
  border-bottom: 1px solid #aaaaaa;
}
#education,
#experience,
#projects {
  padding-right: 1em;
}
#header {
  border-bottom: 1px solid #aaaaaa;
}
#header h1 {
  text-align: right;
  font-size: 36pt;
}

a[href]:after {
  content: none !important;
}
#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  #content-left {
    border-right: 1px solid #aaaaaa;
  }
  #contact,
  #programming,
  #web,
  #other,
  #activities {
    padding-left: 1em;
  }
}
#page {
  padding: 0em 5em 5em 5em;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  #page {
    padding: 5em;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  }
  #header h1 {
    text-align: right;
    font-size: 48pt;
  }
}
