---
layout: index
---

<ul class="projects">
  {% for project in site.data.projects %}
  <li>
    <div class="project-container">
      <div class="project-hover">
        <h4>{{ project.title }}</h4>
      </div>
      <div class="project-image">
        <img src="/images/{{ project.image }}">
      </div>
      <div class="project-description hidden">
        <div class="popover-text">
          {{ project.description | markdownify }}
        </div>
        <div class="popover-links">
          {% if project.homepage != null %}
            <a href="{{ project.homepage }}" target="_blank">Homepage</a>
          {% endif %}
          {% if project.github != null %}
            <a href="https://github.com/{{ project.github }}" target="_blank">Github</a>
          {% endif %}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>