<h1>About Me</h1>

<p>From the SF Bay Area, currently located in <strong>Pittsburgh PA</strong> studying computer science and HCI at <a href='http://cmu.edu' target='_blank'>Carnegie Mellon University</a>. Graduating in May 2016. Working remotely part-time for <a href='http://blendlabs.com' target='_blank'>Blend Labs</a>.</p>

<p>I've been running track for <strong>12</strong> years and counting and hold the <a href='http://athletics.cmu.edu/sports/mtrack/history/records' target='_blank'>60 meter school record</a> at CMU.
</p>

<p>I have <a href='https://en.wikipedia.org/wiki/Alopecia_universalis' target='_blank'>alopecia areata universalis</a>, so I'm almost completely hairless. Yes, even there. Because of this, I've been <a href='assets/aang.jpg' target='_blank'>Aang</a> and <a href='assets/xerxes.jpg' target='_blank'>Xerxes</a> for Halloween, and plan on doing One-Punch Man and Bane in future years. Email me if you have more suggestions.
</p>
