<h1>About Me</h1>

<p>I'm from the SF Bay Area, currently located in <strong>Pittsburgh PA</strong> studying computer science and HCI at <a href='http://cmu.edu' target='_blank'>Carnegie Mellon University</a>. I'm graduating in May 2016, assuming I don't fail my last class. I'm working remotely part-time for <a href='http://blendlabs.com' target='_blank'>Blend Labs</a> and will be joining Blend full-time after graduation.</p>

<p>I've been running track for <strong>12</strong> years and counting. I'm a captain on the CMU track team and hold the <a href='http://athletics.cmu.edu/sports/mtrack/history/records' target='_blank'>60 meter school record</a>.
</p>

<p>Since everyone asks eventually, I have <a href='https://en.wikipedia.org/wiki/Alopecia_universalis' target='_blank'>alopecia areata universalis</a>, so I'm (almost) completely hairless. Yes, even there.
</p>
