<footer>
  <ul class="footer-icons">
    <li>
      <a href="mailto:{{ site.email }}" target="_blank" class="icon fa fa-envelope-o"></a>
    </li>
    <li>
      <a href="https://github.com/{{ site.github }}" target="_blank" class="icon fa fa-github"></a>
    </li>
    <li>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="icon fa fa-twitter"></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" class="icon fa fa-linkedin"></a>
    </li>
  </ul>
</footer>