<footer>
    <ul class='icons'>
        <li>
            <a href='mailto:jeffrey@cmu.edu' class='icon fa fa-envelope-o'>
            </a>
        </li>
        <li>
            <a href='https://twitter.com/iambald' target='_blank' class='icon fa fa-twitter'>
            </a>
        </li>
        <li>
            <a href='https://github.com/jchen1' target='_blank' class='icon fa fa-github'>
            </a>
        </li>
        <li>
            <a href='https://www.linkedin.com/profile/view?id=198614097' target='_blank' class='icon fa fa-linkedin'>
            </a>
        </li>
    </ul>
</footer>
