<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

<div id="index">
  <h1><a href="{{ site.url }}/">{{ site.owner.name }}</a></h1>
  <div id="social">
  {% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" class="thumb" target="_blank"><i class="icon-twitter"></i></a>{% endif %}
{% if site.owner.facebook %}<a href="http://facebook.com/{{ site.owner.facebook }}" class="thumb" target="_blank"><i class="icon-facebook"></i></a>{% endif %}
{% if site.owner.google_plus %}<a href="{{ site.owner.google_plus }}" class="thumb" target="_blank"><i class="icon-google-plus"></i></a>{% endif %}
{% if site.owner.linkedin %}<a href="http://linkedin.com/profile/view?id={{ site.owner.linkedin }}" class="thumb" target="_blank"><i class="icon-linkedin"></i></a>{% endif %}
{% if site.owner.instagram %}<a href="http://instagram.com/{{ site.owner.instagram }}" class="thumb" target="_blank"><i class="icon-instagram"></i></a>{% endif %}
{% if site.owner.tumblr %}<a href="http://{{ site.owner.tumblr }}.tumblr.com" class="thumb" target="_blank"><i class="icon-tumblr"></i></a>{% endif %}
{% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" class="thumb" target="_blank"><i class="icon-github"></i></a>{% endif %}
{% if site.owner.stackoverflow %}<a href="http://stackoverflow.com/users/{{ site.owner.stackoverflow }}" class="thumb" target="_blank"><i class="icon-stackoverflow"></i></a>{% endif %}
{% if site.owner.lastfm %}<a href="http://lastfm.com/user/{{ site.owner.lastfm }}" class="thumb" target="_blank"><i class="icon-lastfm"></i></a>{% endif %}
{% if site.owner.dribbble %}<a href="http://dribbble.com/{{ site.owner.dribbble }}" class="thumb" target="_blank"><i class="icon-dribbble"></i></a>{% endif %}
{% if site.owner.pinterest %}<a href="http://www.pinterest.com/{{ site.owner.pinterest }}" class="thumb" target="_blank"><i class="icon-pinterest"></i></a>{% endif %}
{% if site.owner.foursquare %}<a href="http://foursquare.com/{{ site.owner.foursquare }}" class="thumb" target="_blank"><i class="icon-foursquare"></i></a>{% endif %}
{% if site.owner.steam %}<a href="http://steamcommunity.com/id/{{ site.owner.steam }}" class="thumb" target="_blank"><i class="icon-steam"></i></a>{% endif %}
</div>
</div><!-- /#index -->

{% include _scripts.html %}

</body>
</html>
